<div class="page-header">
<h1>Listing works</h1>
</div>
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.name %></td>
        <td><%= work.desc %></td>
				<td><%= link_to work.url, work.url %></td>
        <td><%= link_to 'Show', work %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<div class="container">
<center><%= paginate @works %></center>
</div>
