<h2>Result</h2> 
<%= simple_form_for([@game,@relationship]) do |f| %>
<%= f.error_notification %>

<div class="container">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
			<% @game.clons.includes(:person,:relationships).each do |k| %>
				<th><%= (current_user.admin?)? k.person.name : k.person.fake_name %> <%= k.alignment(@game) if k.alignment(@game)!=0 %></th>
				<% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= label_tag "clon[work_ids][#{work.id}]", work.name %></td>
			  <% @game.clons.each do |k| %>
        <td>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" role="progressbar" style="width: <%= k.relationships.find_by(work_id:work).nil? ? 0 : k.relationships.find_by(work_id:work).favorability || 0 %>%;">
					  </div>
					  </div>
						</td>
			  <% end %>
        <td><%= link_to 'Show', work %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<% end %>
